[Desktop Entry]
Name=Hide Border When Maximized
Comment=Hide titlebar and window frame when a window is maximized.
Icon=preferences-system-windows-script-test

Type=Service

X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js

X-KDE-PluginInfo-Author=Richard Lewis
X-KDE-PluginInfo-Email=richrd.lewis@gmail.com
X-KDE-PluginInfo-Name=NoBorderWhenMaximized
X-KDE-PluginInfo-Version=1

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/Script
